extends layout

block content
  h1= title
  form(method='post', action='/users/cadastro')
    .form-group
      label(for='nome') Nome: 
      input(type='text', name='nome', class='form-control', placeholder='Digite o nome', required)
    .form-group
      label(for='disciplina') Disciplina: 
      input(type='text', name='disciplina', class='form-control', placeholder='Digite a disciplina', required)
    button.btn.btn-primary(type='submit') Cadastrar Professor